<div id="header">
    <div id="header-left">
        <img src="../public/assets/swiftseats-logo.png" alt="swiftseats-logo" width="160px" height="90px">
        <p id="account-type">Logged in as: {{accType}}</p>
    </div>

    <div id="header-right">
        <a class="nav-link" href="homepage.hbs">Home</a>
        <a class="nav-link" href="reserve.hbs">Reserve</a>
        <a class="nav-link" href="account.hbs">Account</a>
    </div>
</header>