<main>
    <section id="content-container">
        <div id="header-div">
            <img src="/assets/run_material_icon.png" alt="run-icon" width="64px" height="64px">
            <p><strong>CCAPDEV Major Course Output</strong></p>
            <p>by Megan Sioco</p>
        </div>

        <div id="content-div">
            <h2>Project Dependencies</h2>
            <ul style="text-align: justify; text-align-last: left;">
                <li><strong>express</strong> for routing</li>
                <li><strong>express-handlebars</strong> for views</li>
                <li><strong>mongoose</strong> mongoose for database operations</li>
                <li><strong>body-parser</strong> for body parsing</li>
                <li><strong>multer</strong> for file upload</li>
                <li><strong>express-session</strong> for session creation</li>
                <li><strong>express-flash</strong> for displaying messages related to sessions</li>
                <li><strong>method-override</strong> for overriding session-related <strong>POST</strong> requests into <strong>DELETE</strong> requests</li>
                <li><strong>passport</strong> for authentication</li>
                <li><strong>passport-local</strong> also for authentication</li>
                <li><strong>bcryptjs</strong> for password hashing</li>
            </ul>
        </div>
    </section>
</main>