<main>
    <section id="homepage-banner">
        <div id="our-labs-banner-div"><h1>Our Labs</h1></div>
        <img src="../public/assets/our-labs-bg.jpg" alt="our-labs-bg" width="1575px" height="412px">
    </section>

    <section id="lab-info">
        <div id="lab-info-top">
            <div class="left text">
                <h2>Tesla's Trove</h2>
                <p>Inspired by Tesla's pioneering work in electrical engineering and his relentless pursuit of innovation, Tesla's Trove is dedicated to empowering individuals to unlock their potential and illuminate the world with groundbreaking ideas.</p>
            </div>
            <div class="right lab-pic">
                <img src="../public/assets/teslas-trove.jpg" alt="teslas-trove" width="250px" height="180px">
            </div>
        </div>

        <div id="lab-info-middle">
            <div class="left lab-pic">
                <img src="../public/assets/hoppers-hub.jpg" alt="hoppers-hub" width="250px" height="180px">
            </div>
            <div class="right text">
                <h2>Hopper's Hub</h2>
                <p>Drawing inspiration from Grace Hopper's trailblazing contributions to computer science and her commitment to diversity and inclusion, Hopper's Hub is a launchpad for the next generation of innovation.</p>
            </div>    
        </div>

        <div id="lab-info-bottom">
            <div class="left text">
                <h2>Ghandi's Haven</h2>
                <p>Rooted in the teachings of Mahatma Gandhi and his philosophy of nonviolence and equality, Gandhi's Haven is a beacon for using technology as a force for good, fostering a more equitable and interconnected world.</p>
            </div>
            <div class="right lab-pic">
                <img src="../public/assets/ghandis-haven.jpg" alt="ghandis-haven" width="250px" height="180px">
            </div>
        </div>
    </section>

    <section id="view-seats-banner">
        <div id="view-seats-banner-div"><h2>Check Out Available Seats</h2></div>
        <img src="../public/assets/available-seats-bg.png" alt="available-seats-bg" width="1575px" height="210px">
    </section>

    <section id="view-available-seats">
        <div id="search-button-div">
            <button id="search-button">Search for Slots Instead</button><br>
        </div>
        <div id="timeslots-div">
            <p>TODO: Replace with hbs, no sorting</p>
        </div>
    </section>
</main>