{{!-- <main>
    <section id="account-banner">
        <div id="account-banner-div"><h2>Account Settings</h2></div>
        <img src="./assets/account-bg.jpg" alt="account-bg" width="1575px" height="210px">
    </section>       

    <section id="user-actions-container">
        <form id="user-actions-form">
            <div id="user-pfp-div"> <img src="./profile-pictures/user-pfp.png" alt="user-pfp"> </div>
            <div id="user-pfp-upload-div"> <input type="file" name="upload-pfp" id="upload-pfp" accept="image/*"> </div>
            <div id="user-name-div"> <input type="text" name="user-name" placeholder="Pierre Ramos" disabled> </div>
            <div id="user-email-div"> <input type="text" name="user-email" placeholder="pierre.ramos@dlsu.edu.ph" disabled> </div>
            <div id="user-account-type-div"> <input type="text" name="user-account-type" value="Lab Technician" disabled> </div>
            <div id="user-password-div"> <input type="password" name="user-password" value="pass1234"> </div>
            <div id="user-logout-div"> <button id="user-logout-button" onclick="redirectToLogin(); return false;">Logout</button> </div>
            <div id="user-bio-div"> <textarea type="text" name="user-bio" rows="8" columns="200">As a dedicated lab technician and admin, I ensure the smooth operation and organization of our cutting-edge computer labs, providing technical support and maintaining a collaborative environment for innovation to flourish. With a passion for technology and a meticulous attention to detail, I strive to empower our users and facilitate their exploration of the digital frontier. </textarea> </div>
            <input type="submit" value="Save Changes" onclick="saveChanges(); return false;">
        </form>
    </section>

    <section id="profiles-banner">
        <h2>View Other Profiles</h2>
    </section>

    <section id="user-carousel">
        <div id="user-carousel-div">
            {{#each userData}}
                <div class="card">
                    <img class="pfp" src="{{pfp}}" alt="Profile Picture">
                    <p class="name">{{name}}</p>
                </div>
            {{/each}}
        </div>
    </section> 
</main> --}}