<main>
    <section id="reserve-seats-banner">
        <div id="reserve-seats-banner-div"><h2>Reserve Seats</h2></div>
        <img src="../public/assets/reserve-bg.jpeg" alt="reserve-bg" width="1575px" height="210px">
    </section>

    <section id="main-container">
        <div id="left-panel">
            <div id="left-panel-filters">
                <p>Date and Lab Toggles</p>
            </div>
            <div id="left-panel-timeslots">
                <p>Dynamically loaded timeslots</p>
            </div>
        </div>

        <div id="right-panel">
            <p class="label">Selected Slots:</p>
            <p>Dynamically loaded slots</p>
            <div id="username-form">
                <input type="text" name="username" id="username-input" placeholder="Student Name (Optional)"><br>
                <input type="submit" value="Make Reservation" class="submit">
            </div>
        </div>
    </section>
</main>