<main>
    <section id="search-banner">
        <div id="search-div"><h2>Search for Available Seats</h2></div>
        <img src="./assets/available-seats-bg.png" alt="available-seats-bg" width="1575px" height="210px">
    </section>

    <section id="search">
        <div id="filter-div">
            <select id="date-filter" name="date-filter">Select Date</select>
            <select id="time-filter" name="time-filter">Select Timeslot</select>
            <select id="lab-filter" name="lab-filter">Select Timeslot</select>
            <select id="user-filter" name="user-filter">Select User</select>
        </div>
    </section>

    <section id="search-results">
        <div id="search-results-div">
            <p>TODO: Replace with hbs</p>
        </div>
    </section>
</main>